<!DOCTYPE html>
<html lang="en">
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!-- Compiled and minified CSS -->
            <link href="https://fonts.googleapis.com/css2?family=Oleo+Script&family=Oxygen&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
            <!-- Compiled and minified JavaScript -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='Server.css')}} ">

            <title>Server</title>
        </head>
<body>
    <nav>   
        <div class='nav-wrapper navbar z-index-3'>
            <a href='/index' class='brand-logo'>Shepherd</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>Server</li>
            </ul>
            </div>
        </nav>
        <div class="container">
            <h1>Health Report Generation</h1>
                <p class="message-box">
                    Please fill this form to generate health report for your server.
                </p>
                    <div class="imgcontainer">
                      <img src="https://i.ya-webdesign.com/images/report-icon-png-1.png" alt="Report" class="server">
                    </div>
            <div class="row main-body">
                <label for="server"><b>Server Name</b></label>
                <input class="server-box" 
                type="text" 
                placeholder="Enter Server Name" 
                name="server" required>
                
                <label for="details"><b>Details</b></label>
                <input class="details-box" 
                type="text" 
                placeholder="all,last 10 or first 10" 
                name="details" required>

                <button class="report-button btn waves-effect waves-light" 
                type="submit" 
                name="action">Generate Report
                </button>
        </div>
        <table>
            <theader>
            <tr>
                
              
              <th>Health ID</th>
              <th>Epoch Time</th>
              <th>Disk Free</th>
              <th>Bytes Sent</th>
              <th>Bytes Received</th>
              <th>Packets Sent</th>
              <th>Packets Received</th>
              <th>Memory Free</th>
              <th>CPU Usage Percent</th>
              <th>CPU Time</th>
            </tr>
        </theader>
           
          </table>
                
        </div>
        </body>
        <script>
            const generateReportButton=document.querySelector(".report-button");
            generateReportButton.addEventListener("click", function(){
                const servername= document.querySelector(".server-box").value;
                const details= document.querySelector(".details-box").value;
                const messageBox= document.querySelector(".message-box");
                if (document.cookie.includes(";")) {
                        c_index = document.cookie.split(";").length - 1;
                        logged_in = JSON.parse(document.cookie.split(";")[c_index]);
                        
                        } 
                        else {
                                logged_in = JSON.parse(document.cookie);
                            }
                Server={
                    Username:logged_in.Username,
                    Servername: servername,
                    Details: details,
                };

                const rawResponse = fetch("/Display",{
                    method: "POST",
                    headers:{
                        "Content-Type":"application/json",
                    },
                    body: JSON.stringify(Server),
                });

                rawResponse
                 .then((something) => {
                     return something.json();
                 })
                 .then((processedObject) => {
                    messageBox.innerText = processedObject.message;
                     
                     if (processedObject.message==="Generating Health Report") {
                         messageBox.style.backgroundColor="green";
                         messageBox.stylecolor="lightgreen";
                         userobject=processedObject;
                        const [table] = document.getElementsByTagName('table');
                        userobject.Health_id.forEach((Health_id,i) => {
                        const tr=table.insertRow();
                        tr.insertCell().textContent = Health_id;
                        tr.insertCell().textContent = userobject.Epoch_Time[i];
                        tr.insertCell().textContent = userobject.Disk_Free[i];
                        tr.insertCell().textContent = userobject.Bytes_Sent[i];
                        tr.insertCell().textContent = userobject.Bytes_Received[i];
                        tr.insertCell().textContent = userobject.Packets_Sent[i];
                        tr.insertCell().textContent = userobject.Packets_Received[i];
                        tr.insertCell().textContent = userobject.Memory_Free[i];
                        tr.insertCell().textContent = userobject.CPU_Usage_Percent[i];
                        tr.insertCell().textContent = userobject.CPU_Time[i];
                        
                        table.append(tr); 
                    });
                        
                        }
                    else {
                        messageBox.style.backgroundColor="red";
                        messageBox.style.color="White";
                    }

                 })
            })
        </script>
        </html>