<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script&family=Oxygen&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='index.css')}} ">

    <title>Shepherd</title>
</head>
<body>
    <nav>   
        <div class='nav-wrapper navbar z-index-3'>
            <a href='/index' class='brand-logo'>Shepherd</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li class="hoverable"><a href="/login">Log In</a></li>
                <li class="hoverable"><a href="/Registration">Register</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
    <h1 class="header font center blue-text">Project Shepherd</h1>
    <div class="main-content">
       <div class="description">
            <img src="https://i.pinimg.com/originals/e1/b8/92/e1b8921cc6729f30cb7ec4c6afe13518.jpg" alt="Jesus is coding" class="img-size center circle img-responsive">
            <p class=" gray-text font center text-darken-3 flow-text">
                This is a website that allows you to monitor your remote servers.<br>
                Just like how a shepherd watches his sheep.
            </p>
        </div>
    </div>
    </div>
    
</body>
</html>