<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Compiled and minified CSS -->
        <link href="https://fonts.googleapis.com/css2?family=Oleo+Script&family=Oxygen&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='login.css')}} ">

        <title>Login</title>
    </head>
<body>
    <nav>   
        <div class='nav-wrapper navbar z-index-3'>
            <a href='#' class='brand-logo'>Shepherd</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>Log In</li>
                
            </ul>
            </div>
        </nav>
    <div class="container">
            <div class="imgcontainer">
              <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar">
            </div>
        <div class="row main-body">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>
        
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>
        </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
        </div>
    
    
</body>
</html>