<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Compiled and minified CSS -->
    <link
      href="https://fonts.googleapis.com/css2?family=Oleo+Script&family=Oxygen&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static',filename='login.css')}} "
    />

    <title>Login</title>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper navbar z-index-3">
        <a href="/index" class="hoverable brand-logo">Shepherd</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>Log In</li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <p class="message-box">
        Please fill in this form to Login in to your account.
      </p>
      <div class="imgcontainer">
        <img
          src="https://image.flaticon.com/icons/png/512/773/premium/773880.png"
          alt="Avatar"
          class="avatar"
        />
      </div>
      <div class="row main-body">
        <label for="uname"><b>Username</b></label>
        <input
          class="username-box"
          type="text"
          placeholder="Enter Username"
          name="uname"
          required
        />

        <label for="psw"><b>Password</b></label>
        <input
          class="password-box"
          type="password"
          placeholder="Enter Password"
          name="psw"
          required
        />
      </div>
      <button
        class="submit-button btn waves-effect waves-light"
        type="submit"
        name="action"
      >
        Submit
      </button>
    </div>
    <div class="container signin">
      <p>Don't have an account? <a href="/Registration">Register</a>.</p>
    </div>
    <div class="container signin">
      <p>Forgot your password? <a href="/security">Click Here!</a>.</p>
    </div>
    <script>
      const submitButton = document.querySelector(".submit-button");
      submitButton.addEventListener("click", function () {
        const username = document.querySelector(".username-box").value;
        const password = document.querySelector(".password-box").value;
        const messageBox = document.querySelector(".message-box");
        User = {
          Username: username,
          Password: password,
        };

        const rawResponse = fetch("/login", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(User),
        });
        rawResponse
          .then((something) => {
            return something.json();
          })
          .then((processedObject) => {
            messageBox.innerText = processedObject.message;
            if (processedObject.message === "Login Successful") {
              messageBox.style.backgroundColor = "green";
              messageBox.style.color = "white";
              //update cookie
              document.cookie = "";
              document.cookie = JSON.stringify(User);
              if (document.cookie.includes(";")) {
                c_index = document.cookie.split(";").length - 1;
                logged_in = JSON.parse(document.cookie.split(";")[c_index]);
                console.log(logged_in);
              } else {
                logged_in = JSON.parse(document.cookie);
                console.log(logged_in);
              }
              window.location.replace("/User")
            } else {
              messageBox.style.backgroundColor = "red";
              messageBox.style.color = "white";
            }
          });
      });
    </script>
  </body>
</html>
