<!DOCTYPE html>
<html lang="en">
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!-- Compiled and minified CSS -->
            <link href="https://fonts.googleapis.com/css2?family=Oleo+Script&family=Oxygen&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
            <!-- Compiled and minified JavaScript -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='Server.css')}} ">

            <title>Server</title>
        </head>
<body>
    <nav>   
        <div class='nav-wrapper navbar z-index-3'>
            <a href='/index' class='brand-logo'>Shepherd</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>Server</li>
            </ul>
            </div>
        </nav>
        <div class="container">
            <h1>Server Deletion</h1>
                <p class="message-box">
                    Please fill this form to remove your server.
                </p>
                    <div class="imgcontainer">
                      <img src="https://cdn3.iconfinder.com/data/icons/ui-essential-elements-buttons/110/DeleteDustbin-512.png" alt="Server" class="server">
                    </div>
            <div class="row main-body">
                <label for="server"><b>Server Name</b></label>
                <input class="server-box" 
                type="text" 
                placeholder="Enter Server Name" 
                name="server" required>
                
        </div>
                <button class="removeServer-button btn waves-effect waves-light" 
                type="submit" 
                name="action">Remove Server
                </button>
        </div>
        </body>
        <script>
            const removeServerButton=document.querySelector(".removeServer-button");
            removeServerButton.addEventListener("click", function(){
                const servername= document.querySelector(".server-box").value;
                const messageBox= document.querySelector(".message-box");
                if (document.cookie.includes(";")) {
                        c_index = document.cookie.split(";").length - 1;
                        logged_in = JSON.parse(document.cookie.split(";")[c_index]);
                        
                        } 
                        else {
                                logged_in = JSON.parse(document.cookie);
                            }
                Server={
                    Username:logged_in.Username,
                    Servername: servername,
                };

                const rawResponse = fetch("/Remove_Server",{
                    method: "POST",
                    headers:{
                        "Content-Type":"application/json",
                    },
                    body: JSON.stringify(Server),
                });

                rawResponse
                 .then((something) => {
                     return something.json();
                 })
                 .then((processedObject) => {
                     messageBox.innerText = processedObject.message;
                     if (processedObject.message==="Server Deletion Successful") {
                         messageBox.style.backgroundColor="green";
                         messageBox.stylecolor="lightgreen";
                        window.location.replace("/User")
                        }
                    else {
                        messageBox.style.backgroundColor="red";
                        messageBox.style.color="White";
                    }

                 })
            })
        </script>
        </html>
