<!DOCTYPE html>
<html lang="en">
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!-- Compiled and minified CSS -->
            <link href="https://fonts.googleapis.com/css2?family=Oleo+Script&family=Oxygen&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
            <!-- Compiled and minified JavaScript -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='User.css')}} ">

            <title>User</title>
        </head>
        
<body>
    <nav>   
        <div class='nav-wrapper navbar z-index-3'>
            <a href='/index' class='brand-logo'>Shepherd</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            </ul>
            </div>
        </nav>
    <div class="container">
        <h2 class='user username-Header'>Username</h2>
        <hr>
        <table>
            <theader>
            <tr>
                
              
              <th>IP Address</th>
              <th>Servername</th>
            </tr>
        </theader>
           
          </table>
    <div>
    <button class="Add_Server-button btn waves-effect waves-light" 
    type="submit" 
    name="action">Add Server
    </button>
    </div> 
    <div>
    <button class="Remove_Server-button btn waves-effect waves-light" 
    type="submit" 
    name="action">Remove Server
    </div>
    <div>
        <button class="show-report btn waves-effect waves-light" 
        type="submit" 
        name="action">Report
        </button>
        </div> 
    </div>
    
</body>
<script>
    
    const username=document.querySelector(".username-Header");
    if (document.cookie.includes(";")) {
                        c_index = document.cookie.split(";").length - 1;
                        logged_in = JSON.parse(document.cookie.split(";")[c_index]);
                        
                        } 
                        else {
                                logged_in = JSON.parse(document.cookie);
                            }        
    username.innerText=logged_in.Username;
    User={
        Username:logged_in.Username,
    };
    const rawResponse = fetch("/User",{
                    method: "POST",
                    headers:{
                        "Content-Type":"application/json",
                    },
                    body: JSON.stringify(User),
                });
        
    rawResponse
     .then((something) => {
         return something.json();
     })
     .then((processedObject) =>{
         userobject=processedObject;
        const [table] = document.getElementsByTagName('table');
        userobject.ID.forEach((id,i) => {
            const tr=table.insertRow();
            //tr.insertCell().textContent = id;
            tr.insertCell().textContent = userobject.IP_Address[i];
            tr.insertCell().textContent = userobject.Server_Name[i];
            table.append(tr); 
            
        });
     })
    
    
    const addServerButton = document.querySelector(".Add_Server-button");
    addServerButton.addEventListener("click",function(){
        window.location.href="/Add_Server"
    })
    const removeServerButton = document.querySelector(".Remove_Server-button");
    removeServerButton.addEventListener("click",function(){
        window.location.href="/Remove_Server"
    })

    const showReportButton = document.querySelector(".show-report");
    showReportButton.addEventListener("click", function(){
        window.location.href="/Display"
    })
        
      
        
    
   
    

</script>
</html>